<div class="max-w-prose mx-auto">
  <div class="flex justify-center mb-4 px-8 sm:justify-end">
    <%= link_to "Edit Profile", edit_profile_path(@profile), class: 'btn btn-outline btn-sm text-right' %>
  </div>
  <div class="flex flex-col items-center justify-center mb-2 sm:flex-row">
    <%= render Profile::PictureComponent.new(profile: @profile) %>
    <div class="text-center px-4 sm:text-left">
      <h1 class="text-2xl font-bold"><%= @profile %></h1>
      <p class="text-xl"><%= @profile.job_title %></p>
      <p><i class="fa-solid fa-location-dot mr-2"></i><%= @profile.location %></p>
      <% @profile.work_model_preferences.each do |preference| %>
        <div class="badge badge-primary badge-outline"><%= preference %></div>
      <% end %>
    </div>
  </div>

  <div class="text-center mb-4 px-4">
    <p><%= @profile.bio %></p>
  </div>

  <div class="flex justify-between px-8">
    <button class="btn btn-sm">View Resume</button>
    <button class="btn btn-sm">View Bragsheet</button>
  </div>
</div>
