<div class="max-w-prose mx-auto">
  <% if policy(@profile).edit? %>
    <div class="flex justify-center mb-4 px-8 sm:justify-end">
      <%= link_to "Edit Profile", edit_profile_path(@profile), class: 'btn btn-outline btn-sm text-right' %>
    </div>
  <% end %>
  <div class="flex flex-col items-center justify-center mb-2 sm:flex-row">
    <%= render Profile::PictureComponent.new(profile: @profile) %>
    <div class="text-center px-4 sm:text-left">
      <h1 class="text-2xl font-bold"><%= @profile %></h1>
      <p class="text-xl"><%= @profile.job_title %></p>
      <% if @profile.location.present? %>
        <p class="mb-1.5"><i class="fa-solid fa-location-dot mr-2"></i><%= @profile.location %></p>
      <% end %>
      <div class="mb-2">
        <% @profile.work_model_preferences.each do |preference| %>
          <div class="badge badge-secondary badge-outline"><%= preference %></div>
        <% end %>
      </div>
      <div class="flex gap-3">
        <%= render Profile::LinkComponent.with_collection(Profile::LINK_TYPES, profile: @profile) %>
      </div>
    </div>
  </div>

  <div class="text-center mb-4 px-4">
    <p><%= @profile.bio %></p>
  </div>

  <div class="flex gap-6 justify-center">
    <button class="btn btn-sm">View Resume</button>
    <%= link_to "#{@profile.user.first_name}'s Blog",
      blog_path(@profile.user.blog_slug),
      class: 'btn btn-primary btn-sm'
    %>
  </div>
</div>
