
<div class="container  max-w-xl mx-auto">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put}) do |f| %>
    <h2 class='text-2xl mb-4'>Edit <%= resource_name.to_s.humanize %></h2>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-control">
      <%= f.label :email, class: 'label label-text' %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'input input-bordered' %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="form-control">
      <%= f.label :password, "Password <span class='italic'>(leave blank if you don't want to change it)</span>".html_safe, class: 'label label-text' %> 
      <%= f.password_field :password, autocomplete: "new-password", class: 'input input-bordered' %>
      <% if @minimum_password_length %>
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>

    <div class="form-control">
      <%= f.label :password_confirmation, class: 'label label-text' %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'input input-bordered' %>
    </div>

    <div class=" mb-8">
      <%= f.label :time_zone, class: 'label label-text' %>
      <%= f.time_zone_select(:time_zone, ActiveSupport::TimeZone.country_zones('US'), {}, {class:"select select-bordered w-full max-w-xs"}) %>
    </div>

    <div class="form-control">
      <%= f.label :current_password, "Current password <span class='italic'>(we need your current password to confirm your changes)</span>".html_safe, class: 'label label-text' %>
      <%= f.password_field :current_password, autocomplete: "current-password", class: 'input input-bordered' %>
    </div>

    <div class="form-control mt-4">
      <%= f.submit "Update", class: 'btn btn-primary' %>
    </div>
  <% end %>
  
  <h3 class='text-lg mt-8 mb-4 font-semibold'>Cancel my account</h3>
  <div class='flex justify-between'>
    <div>
      Unhappy? 
      <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?", }, method: :delete, class: 'btn btn-error' %>
    </div>
    <%= link_to "Back", :back, class: 'link align-bottom' %>
  </div>

</div>
