
<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'container max-w-md mx-auto' } ) do |f| %>
  <h2 class='text-3xl mb-4'>Log in</h2>
  <div class="form-control">
    <%= f.label :email, class: 'label label-text text-lg' %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'input input-bordered' %>
  </div>

  <div class="form-control pt-4">
    <%= f.label :password, class: 'label label-text text-lg' %>
    <%= f.password_field :password, autocomplete: "current-password", class: 'input input-bordered' %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="form-control">
      <label class="label cursor-pointer justify-start space-x-4 pt-4">
        <%= f.label :remember_me, class: 'label label-text text-lg' %> 
        <%= f.check_box :remember_me, class: 'checkbox' %>
      </label>
    </div>
  <% end %>

  <div class="form-control mb-8">
    <%= render "devise/shared/links" %>
  </div>

  <div class="form-control">
    <%= f.submit "Log in", class: 'btn btn-primary' %>
  </div>
<% end %>

