<div class="bg-[#363942] w-3/4 mx-auto rounded-lg text-white my-8">
  <%= render_navbar %>
  <%#= render 'landing_navbar' %>
  <!-- Hero Section -->
  <div class=" text-white flex justify-left items-center p-5">
    <div class="w-2/3 pl-8">
      <button class="flex justify-between items-center w-full h-[67px] mb-2 bg-blue-500 text-white hover:bg-blue-600 px-4 rounded-lg">
          Button 1
          <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path strokeLinecap="round" strokeLinejoin="round" strokeWidth="2" d="M9 5l7 7-7 7"></path>
          </svg>
      </button>

      <button class="flex justify-between items-center w-full h-[67px] mb-2 bg-blue-500 text-white hover:bg-blue-600 px-4 rounded-lg">
        Button 2
        <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path strokeLinecap="round" strokeLinejoin="round" strokeWidth="2" d="M9 5l7 7-7 7"></path>
        </svg>
      </button>

      <button class="flex justify-between items-center w-full h-[67px] mb-2 bg-blue-500 text-white hover:bg-blue-600 px-4 rounded-lg">
        Button 3
        <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path strokeLinecap="round" strokeLinejoin="round" strokeWidth="2" d="M9 5l7 7-7 7"></path>
        </svg>
      </button>

    </div>
  </div>

  <hr class="border-t-1 border-[rgba(255,255,255,0.051)]">
  <!-- Testimonial Section -->
  <div class="mt-5 mb-5 sm:w-5/6 text-base mx-auto">
    <h2 class="text-4xl mb-5 ">Agency members stand out from the crowd</h2>
      <p class="mb-5 text-[rgba(255,255,255,0.678)]">A small selection of our members and what they're saying about The Agency</p>
    <div class="px-4 w-full mx-auto">      
      <div class="mx-auto w-5/6">
        <div class="flex justify-center mb-5">
          <div class="flex justify-center gap-1 flex-col md:flex-row">
            <div class="p-2 w-full md:w-1/2 justify-center mx-auto ">
              <img src="https://img.brickscout.com/2e/da/40/ce/8a/c6/4f/27/b9/31/ec/93/a1/1b/c7/29/279x279.png" alt="Description of Image" class="w-full rounded object-cover justify-center">
            </div>

            <div class="p-2 w-full md:w-1/2 max-w-prose mx-auto flex-1">
              <h3 class="font-bold text-3xl mb-5">Simmon</h3>
              <p class="italic text-[rgba(255,255,255,0.678)]">"Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore autem quia neque consequatur 
                tempore. Vitae obcaecati doloribus inventore quo culpa esse libero! Saepe illo ratione corporis sunt accusamus 
                consectetur adipisci."
              </p> 
            </div>
          </div>
        </div>

        <div class="flex justify-center mb-5">
          <div class="flex justify-center gap-1 flex-col md:flex-row">
            <div class="p-2 w-full md:w-1/2 justify-center mx-auto ">
              <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fs-media-cache-ak0.pinimg.com%2F736x%2F15%2Fd3%2Ff9%2F15d3f976270f83fe40bdf6153c86623f--hawk-eye-lego-marvel.jpg&f=1&nofb=1&ipt=f07d048815272a978c169689f47e42b061192f289729a9cee730bd8e9d848be4&ipo=images" alt="Description of Image" class="w-full rounded object-cover justify-center">
            </div>

            <div class="p-2 w-full md:w-1/2  max-w-prose mx-auto flex-1">
              <h3 class="font-bold text-3xl mb-5">Josh</h3>
              <p class="italic text-[rgba(255,255,255,0.678)]">"Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore autem quia neque consequatur 
                tempore. Vitae obcaecati doloribus inventore quo culpa esse libero! Saepe illo ratione corporis sunt accusamus 
                consectetur adipisci."
              </p> 
            </div>
          </div>
        </div>
        
        <div class="flex justify-center mb-5">
          <div class="flex justify-center gap-1 flex-col md:flex-row">
            <div class="p-2 w-full md:w-1/2 justify-center mx-auto ">
              <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimg.brickowl.com%2Ffiles%2Fimage_cache%2Flarger%2Flego-red-beard-runner-buccaneer-minifigure-25.jpg&f=1&nofb=1&ipt=4d1ad155fcbc83a1af046973b265fb98b370f7a289d802c458c46d71ed81331a&ipo=images" alt="Description of Image" class="w-full rounded object-cover justify-center">
            </div>

            <div class="p-2 w-full md:w-1/2 max-w-prose mx-auto flex-1">
              <h3 class="font-bold text-3xl mb-5">Daniel</h3>
              <p class="italic text-[rgba(255,255,255,0.678)]">"Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore autem quia neque consequatur 
                tempore. Vitae obcaecati doloribus inventore quo culpa esse libero! Saepe illo ratione corporis sunt accusamus 
                consectetur adipisci."
              </p> 
            </div>
          </div>
        </div>

        <div class="flex justify-center mb-5">
          <div class="flex justify-center gap-1 flex-col md:flex-row">
            <div class="p-2 w-full md:w-1/2 justify-center mx-auto ">
              <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimg.brickowl.com%2Ffiles%2Fimage_cache%2Flarger%2Flego-red-beard-runner-buccaneer-minifigure-25.jpg&f=1&nofb=1&ipt=4d1ad155fcbc83a1af046973b265fb98b370f7a289d802c458c46d71ed81331a&ipo=images" alt="Description of Image" class="w-full rounded object-cover justify-center">
            </div>

            <div class="p-2 w-full md:w-1/2 max-w-prose mx-auto flex-1">
              <h3 class="font-bold text-3xl mb-5">Simmon</h3>
              <p class="italic text-[rgba(255,255,255,0.678)]">"Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore autem quia neque consequatur 
                tempore. Vitae obcaecati doloribus inventore quo culpa esse libero! Saepe illo ratione corporis sunt accusamus 
                consectetur adipisci."
              </p> 
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <hr class="border-t-1 border-[rgba(255,255,255,0.051)]">
  <!-- "The Pain" -->
  <div class="py-12 mb-5">
    <div class="container mx-auto px-4">
      <h2 class="text-4xl mb-8 text-center font-extrabold ">Being a junior dev is lonely</h2>

      <div class="flex justify-center mb-5">
        <div class="flex justify-center gap-1 flex-col md:flex-row">
          <div class="p-2 w-full md:w-1/2  mx-auto grid justify-items-end ">
            <%= image_tag "welcome/the_pain.jpeg", class:" rounded object-cover ", alt:"Description of Image" %>
          </div>
          <div class="p-2 w-full md:w-1/2 max-w-prose mx-auto flex-1">
            <p class="text-[rgba(255,255,255,0.678)]">
              <span class="p">"Joining a developer community helps you meet peers, get advice, get unstuck, practice tricky situations, and grow your network.</span> <br>
              <span class="p">Mentorship and collaboration are also very hard to find when you’re solo.</span> <br>
              <span class="p">That’s what The Agency of Learning is for."</span> <br>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr class="border-t-1 border-[rgba(255,255,255,0.051)]">
  <!--  Members Benefits -->
  <div class="py-12 mb-5">
    <div class="container mx-auto px-4">
      <h2 class="text-4xl mb-8 text-center font-extrabold ">Member Benefits</h2>

      <div class="flex justify-center mb-5">
        <div class="flex justify-center gap-1 flex-col md:flex-row">
          <div class="p-2 w-full md:w-1/2  mx-auto grid justify-items-end ">
            <%= image_tag "welcome/real_code.jpeg", class:" rounded object-cover ", alt:"Description of Image" %>
          </div>

          <div class="p-2 w-full md:w-1/2 max-w-prose mx-auto flex-1">
            <strong>Real code, real peers</strong>
            <p class="text-[rgba(255,255,255,0.678)]">Work together on software projects on a team with other developers. Get feedback on your code from experienced engineers. Talk to users.</p>
          </div>

        </div>
      </div>


      <div class="flex justify-center mb-5">
        <div class="flex justify-center gap-1 flex-col md:flex-row">
          <div class="p-2 w-full md:w-1/2 max-w-prose mx-auto flex-1">
            <strong>Mastermind Community</strong>
            <p class="text-[rgba(255,255,255,0.678)]">Gain access to our private Discord community to connect with other members, attend daily standups, ask questions, get unstuck, and grow your skills.</p>
          </div>

          <div class="p-2 w-full md:w-1/2  mx-auto grid justify-items-end ">
            <%= image_tag "welcome/master_mind.jpeg", class:" rounded object-cover ", alt:"Description of Image" %>
          </div>
        </div>
      </div>

      <div class="flex justify-center mb-5">
        <div class="flex justify-center gap-1 flex-col md:flex-row">
          <div class="p-2 w-full md:w-1/2  mx-auto grid justify-items-end ">
            <%= image_tag "welcome/career_services.jpeg", class:" rounded object-cover ", alt:"Description of Image" %>
          </div>

          <div class="p-2 w-full md:w-1/2 max-w-prose mx-auto flex-1">
            <strong>Career Services</strong>
            <p class="text-[rgba(255,255,255,0.678)]" >Get job ready with resume review and coding exercises. Wow your first employer by learning how to give great verbal and written status updates.</p>
          </div>

        </div>
      </div>

      <div class="flex justify-center mb-5">
        <div class="flex justify-center gap-1 flex-col md:flex-row">
          <div class="p-2 w-full md:w-1/2  max-w-prose mx-auto flex-1">
            <strong>Hiring Partner Network</strong>
            <p class="text-[rgba(255,255,255,0.678)]">We'll feature you in our periodic outreach to our hiring partners - a small, motivated network of companies looking to hire early career talent.</p>
          </div>

          <div class="p-2 w-full md:w-1/2  mx-auto grid justify-items-end ">
            <%= image_tag "welcome/hiring_networks.jpeg", class:" rounded object-cover ", alt:"Description of Image" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <hr class="border-t-1 border-[rgba(255,255,255,0.051)]">
  <!-- CTA -->
    <div class="">
      
    </div>

    <!-- Footer -->
  <footer class="footer footer-center p-10 text-primary-content">
    <div>
      <div class="grid grid-flow-col gap-4">
      <ul class="flex space-x-2"> <!-- flex and space-x-2 added for horizontal layout with spacing -->
        <li class="w-10 h-10 rounded-full flex items-center justify-center bg-[#38D68E] hover:scale-110 transform transition-transform">
          <a class="rounded-full p-1">
            <svg xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 0 512 512">
              <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
              <path d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z" fill="#363942"/>
            </svg>
          </a>
        </li>

        <li class="w-10 h-10 rounded-full flex items-center justify-center bg-[#38D68E] hover:scale-110 transform transition-transform">
          <a class="p-1">
            <svg xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 0 512 512">
              <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
              <path d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z" fill="#363942"/>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    
    <div>
      <%= image_tag "aol_logo", width:"104px" %>
    </div> 
  </footer>
</div>