 <div class="table-row odd:bg-base-100 even:bg-base-200 hover:bg-base-300 divide-x-2 divide-base-content">
  <%= render TableCellComponent.new.with_content(cohort.name) %>
  <%= render TableCellComponent.new(class_names: 'hidden sm:table-cell') do %>
    <%= cohort.begin.to_fs(:slash_format) %>
  <% end %>
  <%= render TableCellComponent.new(class_names: 'hidden sm:table-cell') do %>
    <%= cohort.end.to_fs(:slash_format) %>
  <% end %>
  <%= render TableCellComponent.new.with_content(cohort.active ? 'Active' : 'Inactive') %>
  <%= render TableCellComponent.new do %>
    <%= link_to 'View', admin_user_mentee_application_cohort_path(cohort), class: 'link link-primary' %>
  <% end %>
</div>
