<%= form_with model: blog_post, html: { class: "max-w-3xl mx-auto flex flex-col gap-2" } do |form| %>
  <div class="form-control">
    <%= form.label :title, class: "label label-text text-lg font-bold" %>
    <%= form.text_field :title, class: "input input-bordered" %>
  </div>
  <div class="form-control">
    <%= form.label :content, class: "label label-text text-lg font-bold" %>
    <%= form.rich_text_area :content, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full trix-content" %>
  </div>
  <div class="form-control flex flex-row items-center">
    <%= form.label :status, "Publish?", class: "label label-text text-lg font-bold" %>
    <%= form.check_box :status, { class: "checkbox checkbox-primary" }, "published", "draft" %>
  </div>
  <div class="form-control w-fit">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
