<%= form_with(model: standup_meeting_group) do |form| %>
  <%# NOTE: can prob consolidate this into a shared partial %>
  <% if standup_meeting_group.errors.any? %>
    <div class="text-error">
      <h2><%= pluralize(standup_meeting_group.errors.count, "error") %> prohibited this standup_meeting_group from being saved:</h2>

      <ul>
        <% standup_meeting_group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, class: "block label label-text" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :frequency, class: "block label label-text" %>
    <%= form.select :frequency, options_for_select(StandupMeetingGroup.frequencies.map { |k, v| [k.humanize, k] }, standup_meeting_group.frequency) %>
  </div>

  <div>
    <%= form.label :start_time, class: "block label label-text" %>
    <%= form.time_field :start_time %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
