<%= tag.li(id: dom_id(standup_meeting_group), class: "flex flex-row p-4 mb-2 border-black border-2 items-center") do %>
  <h1 class="basis-2/3"><%= link_to standup_meeting_group.name, standup_meeting_group_standup_meetings_path(standup_meeting_group) %></h1>

  <div class="flex justify-end basis-1/3 gap-x-5">
    <%= turbo_frame_tag dom_id(standup_meeting_group, :join_or_leave) do %>
      <%= render StandupMeetingGroup::BaseButtonComponent.for(standup_meeting_group: standup_meeting_group, current_user: current_user) %>
    <% end %>

    <% if policy(standup_meeting_group).edit? %>
      <%= button_to "Edit", class: 'btn' %>
    <% end %>

    <% if policy(standup_meeting_group).destroy? %>
      <%= button_to "Delete", class: 'btn btn-danger' %>
    <% end %>
  </div>
<% end %>
