<div class="max-w-6xl mx-auto p-4">
  <div class="text-sm breadcrumbs max-w-xs md:max-w-lg">
    <ul>
      <li><%= link_to "Standup Groups", standup_meeting_groups_path %></li> 
      <li><%= standup_meeting_group.name %></li> 
    </ul>
  </div>
  <div class="py-4 flex justify-between">
    <h1 class="text-3xl font-bold text-left mb-4 md:mb-0"><%= standup_meeting_group.name %></h1>
    <%= button_to 'Leave', standup_meeting_group_join_path(standup_meeting_group, standup_meeting_group_user), method: :delete, class: 'link mt-4' %>
  </div>
  <%= render StandupMeeting::CheckInCtaComponent.new(standup_meeting_group: standup_meeting_group, standup_meeting: current_user_standup_meeting, current_user:) %>
  <div class="divider my-4 "></div>
  <div class="flex flex-col">
    <div class="flex flex-col md:flex-row justify-between">
      <h1 class="text-2xl text-center md:text-left">Previous Standups</h1>
      <%= render StandupMeeting::DateJumperComponent.new(
        standup_meeting_group: standup_meeting_group,
        meeting_date: Date.current
      ) %>
    </div>
    <div class="table w-full border-2 border-black text-md md:text-base mt-4">
      <div class="table-header-group">
        <div class="table-row font-bold bg-primary divide-x-2 divide-black text-white">
          <%= render TableCellComponent.new(class_names: 'table-cell text-center') do %>
            Date
          <% end %>
          <%= render TableCellComponent.new(class_names: 'table-cell text-center') do %>
            Status
          <% end %>
        </div>
      </div>
      <% @standup_meetings.each do |standup_meeting| %>
        <%= render "table_row", standup_meeting:, standup_meeting_group: %>
      <% end %>
    </div>
    
    <% if @pagy.pages > 1 %>
      <div class="flex justify-center mt-4">
        <%== pagy_nav(@pagy) %>
      </div>
    <% end %>
  </div>
</div>

