<h1 class="text-2xl font-bold mb-4 text-center">
  <%= @cohort.name %> Cohort Applications
</h1>

<div class="p-2">
  <div class="tabs">
    <%= link_to  "Received", user_mentee_application_cohort_path(@cohort, filter: "application_received" ), class:"tab tab-lifted #{'tab-active' if params[:filter] == 'application_received' || params[:filter].nil? }" %>
    <%= link_to 'In Review', user_mentee_application_cohort_path(@cohort, filter: "in_review" ) , class:"tab tab-lifted #{'tab-active' if params[:filter] == 'in_review'  } " %>
    <%= link_to 'Accepted', user_mentee_application_cohort_path(@cohort, filter: "accepted") , class:"tab tab-lifted #{'tab-active' if params[:filter] == 'accepted'}" %>
    <%= link_to  "Rejected", user_mentee_application_cohort_path(@cohort, filter: "rejected" ), class:"tab tab-lifted #{'tab-active' if params[:filter] == 'rejected' }" %>
  </div>
  <div class="table w-full border-2 border-base-content text-md md:text-base">
    <div class="table-header-group">
      <div class="table-row font-bold bg-primary divide-x-2 divide-base-content text-base-100">
        <%= render TableCellComponent.new(class_names: 'table-cell text-center') do %>
          Name
        <% end %>
        <%= render TableCellComponent.new(class_names: 'table-cell text-center') do %>
          Submission Date
        <% end %>
        <%= render TableCellComponent.new(class_names: 'table-cell text-center') do %>
          Notes
        <% end %>
        <%= render TableCellComponent.new(class_names: 'table-cell text-center') do %>
          Status
        <% end %>
        <%= render TableCellComponent.new(class_names: 'hidden sm:table-cell text-center') do %>
          Actions
        <% end %>
        <%= render TableCellComponent.new(class_names: 'table-cell text-center') do %>
          Last Action Date
        <% end %>
      </div>
    </div>
    <div class="table-row-group" id='my-pair-requests'>
      <% @filtered_applications.each do |mentee_application| %>
        <%= render "user_mentee_applications/table_row", mentee_application: %>
      <% end %>
    </div>
  </div>
</div>
