<div class="mb-6 py-2 px-4 w-fit mx-auto rounded-md <%= container_color %>">
  <span>
    Profile is <%= profile.visibility %>. Click <%= toggle_button %> to make it <%= opposite_state %>
    <i class="<%= icon_class_names %> ml-2"></i>
  </span>
</div>
