
<%= form_with model: @feedback, local: true do |form| %>
  <% if @feedback.errors.any? %>

    <div class="mb-4">
      <h2 class="text-red-700 text-lg">
        Please fix <%= pluralize(@feedback.errors.count, "error") %>
      </h2>

      <ul>
        <% @feedback.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "overall_rating" %>
    <%= form.number_field :overall_rating %>
  </div>

  <% @feedback.data['feedback'].each_with_index do |object, index| %>
    <div class="field">
      <%= form.label "data[feedback][#{index}][answer]", object['question'] %> <br>
      <%= form.text_field "data[feedback][#{index}][answer]", value: object['answer'], required: object['required'] %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
