<div>
  <h1 class="font-bold text-4xl">Feedbacks#edit</h1>
  <%= form_with(model: @feedback) do |form| %>
      <div class="question">
        <%= form.label :overall_rating %>
        <%= form.number_field :overall_rating, class: 'form-control' %>
      </div>
    <% @feedback.data['feedback'].each_with_index do |question, index| %>

      <div class="question">
        <%# form.label @feedback.data['feedback'][index]['question'] %>
        <%= label_tag "feedback[data][][feedback][question]", question['question'] %>
        <%# form.text_area @feedback.data['feedback'][index]['answer'], class: 'form-control' %>
        <%= text_field_tag "feedback[data][][feedback][answer]", question['answer'] %>
      </div>
    <% end %>
    <%= form.submit 'Submit', class: 'btn btn-primary' %>
  <% end %>
</div>
 

