<h1 class="text-2xl font-bold mb-4 text-center">Edit Feedback</h1>

<dl class="text-center mb-2">
  <dl class="font-bold">For</dl>
  <dt><%= @feedback.receiver.email %></dt>
</dl>

<%= turbo_frame_tag @feedback, target: "_top" do %>

  <%= form_with model: @feedback, local: true, html: { class: 'max-w-prose mx-auto px-4' } do |form| %>
    <p class="font-bold mb-2">Rating:</p>
    <div class="flex gap-x-2 mb-4">
      <% (1..5).each do |n| %>
        <div class="flex flex-col text-center">
          <%= form.radio_button :overall_rating, n, class: "radio radio-primary" %>
          <%= form.label :overall_rating, n %>
        </div>
      <% end %>
    </div>

    <% @feedback.data['feedback'].each_with_index do |object, index| %>
      <div class="form-control mb-4">
        <%= form.label "data[feedback][#{index}][answer]", object['question'], class: "font-bold mb-2" %>
        <%= form.text_area "data[feedback][#{index}][answer]",
          value: object['answer'],
          required: object['required'],
          class: "textarea textarea-bordered",
          data: { controller: 'textarea-autogrow'},
          rows: '1'
        %>
      </div>
    <% end %>

    <div class="form-control">
      <%= form.submit "Update Feedback", class: "btn btn-primary btn-wide mx-auto" %>
    </div>
  <% end %>
<% end %>
