<div class="table-row odd:bg-base-100 even:bg-base-200 hover:bg-base-300 divide-x-2 divide-base-content">
  <%= render TableCellComponent.new(container_link: mentee_application) do %>
    <%= mentee_application.user.first_name %>
  <% end %>

  <%= render TableCellComponent.new(container_link: mentee_application) do %>
    <%= mentee_application.created_at.to_fs(:slash_format) %>
  <% end %>

  <%= render TableCellComponent.new(container_link: mentee_application) do %>
    <%= turbo_frame_tag "#{dom_id(mentee_application)}--note" do %>
      <%= mentee_application.current_state.note %>
    <% end %>
  <% end %>
  
  <%= render TableCellComponent.new(container_link: mentee_application) do %>
    <%= turbo_frame_tag "#{dom_id(mentee_application)}--status" do %>
      <%= mentee_application.status.humanize %>
    <% end %>
  <% end %>

  <%= render(TableCellComponent.new(class_names: "hidden sm:table-cell text-center")) do %>
    <%= turbo_frame_tag "#{dom_id(mentee_application)}--action" do %>
      <% if mentee_application.in_review? %>
        <%= link_to "Action",
          new_user_mentee_application_mentee_application_state_path(mentee_application),
          class: 'link link-primary',
          data: { turbo_frame: 'modal' }
        %>
      <% end %>
    <% end %>
  <% end %>
</div>
