<div class="table-row odd:bg-base-100 even:bg-base-200 hover:bg-base-300 divide-x-2 divide-base-content">
  <%= render TableCellComponent.new(container_link: mentee_application) do %>
    <%= mentee_application.user.first_name %>
  <% end %>

  <%= render TableCellComponent.new(container_link: mentee_application) do %>
    <%= mentee_application.created_at.strftime("%d/%m/%Y") %>
  <% end %>

  <%= render TableCellComponent.new(container_link: mentee_application) do %>
    <%= mentee_application.country %>
  <% end %>

  <%= render TableCellComponent.new(container_link: mentee_application) do %>
    <%#= mentee_application.notes %>
  <% end %>

  <%= render(TableCellComponent.new(class_names: "hidden sm:table-cell text-center")) do %>
    <%= render TableCellComponent.new(container_link: mentee_application, class_names:"hiddent sm:table-cell") do %>
      <%#= mentee_application.status %>
    <% end %>
      <% if mentee_application.accepted? %>
        <%= button_to "Reject", user_mentee_application_rejections_path(mentee_application) %>
        

      <% else %>
        <%#= button_to "Accept", user_mentee_application_acceptances_path(mentee_application) %>
        <%= button_to "Next Stage", user_mentee_application_promotions_path(mentee_application)  %>
        <%#= button_to "Next Stage", user_mentee_application_promotions_path(mentee_application.mentee_application_statates)  %>

      
      <% end %>
      
  <% end %>
</div>
