<div class="table-row odd:bg-base-100 even:bg-base-200 hover:bg-base-300 divide-x-2 divide-base-content">
  <%= render TableCellComponent.new(container_link: mentee_application) do %>
    <%= mentee_application.user.first_name %>
  <% end %>

  <%= render TableCellComponent.new(container_link: mentee_application) do %>
    <%= mentee_application.created_at.strftime("%d/%m/%Y") %>
  <% end %>

  <%= render TableCellComponent.new(container_link: mentee_application) do %>
    <%= mentee_application.country %>
  <% end %>

  <%= render TableCellComponent.new(container_link: mentee_application) do %>
    <%#= mentee_application.notes %>
  <% end %>

  <%= render(TableCellComponent.new(class_names: "hidden sm:table-cell text-center")) do %>
    <%= render TableCellComponent.new(container_link: mentee_application, class_names:"hiddent sm:table-cell") do %>
      <%#= mentee_application.status %>
    <% end %>
  <% end %>
</div>