<div class="table-row odd:bg-white even:bg-neutral-100 hover:bg-neutral-200 divide-x-2 divide-black">
  <%= render TableCellComponent.new(container_link: mentee_application) do %>
    <%= mentee_application.user.first_name %>
  <% end %>

  <%= render TableCellComponent.new(container_link: mentee_application) do %>
    <%= mentee_application.created_at.strftime("%d/%m/%Y") %>
  <% end %>

  <%= render TableCellComponent.new(container_link: mentee_application) do %>
    <%= mentee_application.country %>
  <% end %>

  <%= render TableCellComponent.new(container_link: mentee_application) do %>
    <%#= mentee_application.notes %>
  <% end %>

  <%= render TableCellComponent.new(container_link: mentee_application) do %>
    <%#= mentee_application.status %>
  <% end %>
</div>