<h2 class="text-3xl text-center font-bold mb-2">Forgot Your Passowrd?</h2>

<div class="max-w-xl mx-auto px-4">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-control mb-4">
      <%= f.label :email, class: 'label label-text text-lg' %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'input input-bordered' %>
    </div>

    <div>
      <%= f.submit "Send me reset password instructions", class: 'btn btn-primary mb-4' %>
    </div>
  <% end %>

  <div class="underline mt-2">
    <%= render "devise/shared/links" %> 
  </div>
</div>
