<%= form_with url: standup_meeting_group_standup_meeting_completions_path(standup_meeting_group, standup_meeting), scope: :standup_meeting do |form| %>
  <div class='space-y-4 form-control p-8'>
    <div class="flex flex-col md:flex-row justify-between">
      <%= form.label :group_name, class: 'w-36 mb-4 md:mb-0' %>
      <span class='font-bold'><%= standup_meeting_group.name %></span>
    </div>
    <div class="flex flex-col md:flex-row justify-between">
      <%= form.label :meeting_date, class: 'w-36 mb-4 md:mb-0' %>
      <span class="font-bold">
        <%= standup_meeting.meeting_date %>
      </span>
    </div>

    <div class="flex flex-col justify-between space-y-2">
      <%= form.label :yesterdays_description, '1. What did you work on yesterday? (or last working day)', class: 'mb-4 md:mb-0' %>
      <%= form.rich_text_area :yesterdays_description,  required: true, class: 'textarea-lg textarea-primary textarea', placeholder: 'e.g., Got the first version of feature X up in a draft PR' %>
    </div>
    <div class="flex flex-col justify-between space-y-2">
      <%= form.label :todays_description,  '2. What do you plan on working on today?', class: 'mb-4 md:mb-0' %>
      <%= form.rich_text_area :todays_description,  required: true, class: 'textarea-lg textarea-primary textarea', placeholder: "e.g., 1. Review some outstanding PRs\n2. Push forward on second feature" %>
    </div>
    <div class="flex flex-col justify-between space-y-2">
      <%= form.label :blockers,  '3. Do you have any blockers? (Leave empty if none)', class: 'mb-4 md:mb-0' %>
      <%= form.rich_text_area :blockers,  required: true, class: 'textarea-lg textarea-primary textarea' %>
    </div>
    
    <div class="flex flex-row-reverse space-x-4">
      <%= form.hidden_field :status, value: :completed %>
      <%= form.submit "Check-in", class: 'btn btn-primary' %>

    <% end %>
      
      <%= render StandupMeeting::SkipButtonComponent.new(standup_meeting_group:, standup_meeting:, current_user:) %>
    </div>
  </div>
