<h1><%=  @standup_meeting.yesterday_work_description %></h1>


<h2>commments</h2>
<% @standup_meeting.standup_meeting_comments.each do |c| %>

  <%=  c.name %> <br>
<% end %>


form
<%= form_with model:[@standup_meeting, StandupMeetingComment.new] do |f|  %>

  <%= f.hidden_field :name, value: @standup_meeting.yesterday_work_description %>
  <%= f.text_area :body %>
  <%= f.submit class:"btn btn-accent"%>
<% end %>

