<%= form_with(model: pair_request) do |form| %>
  <% if pair_request.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(pair_request.errors.count, "error") %> prohibited this pair_request from being saved:</h2>

      <ul>
        <% pair_request.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :author_overall_rating, style: "display: block" %>
    <%= form.text_field :author_overall_rating %>
  </div>

  <div>
    <%= form.label :author_partner_rating, style: "display: block" %>
    <%= form.text_field :author_partner_rating %>
  </div>

  <div>
    <%= form.label :author_feedback_for_partner, style: "display: block" %>
    <%= form.text_field :author_feedback_for_partner %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
