<%= turbo_frame_tag "new_request_form" do %>
  <%= form_with(model: pair_request, class: 'p-4 w-full mx-auto border-2 border-primary rounded-md flex flex-col') do |form| %>
    <div id="form-container" class='flex flex-col space-y-4 xl:space-y-0 xl:max-w-full xl:inline-flex xl:justify-around xl:space-x-8 xl:flex-row'>
      <div class="flex justify-between space-x-4 align-middle">
        <%= form.label :invitee_id, class: "label label-text" %>
        <%= form.collection_select :invitee_id, User.excluding(current_user), :id, :full_name, {}, { class: 'select select-primary' } %>
      </div>

      <div class="flex justify-between space-x-4 align-middle">
        <%= form.label :when, class: "label label-text" %>
        <%= form.datetime_field :when, required: true, class: "input input-primary input-md" %>
      </div>

      <div class="flex justify-between space-x-4 align-middle">
        <%= form.label :duration, 'Duration (minutes)', class: "label label-text"  %>
        <%= form.number_field :duration, value: 15, in: 15..180, step: 15, required: true, class: 'input input-primary input-md w-36' %>
      </div>

      <div class='ml-auto'>
        <%= form.submit "Create Pair Request", class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
<% end %>

