<%= turbo_frame_tag "new_request_form" do %>
  <%= form_with(model: pair_request, class: 'p-4 w-full mx-auto border-2 border-primary rounded-md flex flex-col') do |form| %>
    <div id="form-container" class='flex flex-col space-y-4 xl:space-y-0 xl:max-w-full xl:inline-flex xl:justify-around xl:space-x-8 xl:flex-row' data-controller="pair-requests-form">
      <div class="flex justify-between space-x-4 align-middle">
        <%= form.label :invitee_id, class: "label label-text" %>
        <%= form.select :invitee_id, 
                        User.invitee_select_for(current_user).map{|array| [ array[0], {'value' => array[1], 'data-email' => array[0], "data-id"=> array[1], "data-timezone" => array[2], "data-usertimezone" =>"#{current_user.time_zone}"}]}, #order is hardcoded here, not great
                        {prompt: "Select User"}, 
                        { class: 'select select-primary',
                          data: {action: "change->pair-requests-form#change"} } %>
      </div> 

      <div class="flex justify-between space-x-4 align-middle">
        <%= form.label :when, class: "label label-text" %>
        <%= form.datetime_field :when, required: true, data: {action: "input->pair-requests-form#change"}, class: "input input-primary input-md" %>
    
      </div>

      <div>
        <em>Your TimeZone:</em>
        <strong id="user-time" data-value="" data-pair-requests-form-target="user">
          
        </strong>
        <strong id="user-time" data-value="" data-pair-requests-form-target="userTime">
          
        </strong>
        <em>Your Partner's TimeZone:</em>
        <strong id="invitee-time" data-value="" data-pair-requests-form-target="invitee">
          ?
         </strong>
         <strong id="invitee-time" data-value="" data-pair-requests-form-target="inviteeTime">
          ?
         </strong>

      </div>

      <div class="flex justify-between space-x-4 align-middle">
        <%= form.label :duration, 'Duration (minutes)', class: "label label-text"  %>
        <%= form.number_field :duration, value: 15, in: 15..180, step: 15, required: true, class: 'input input-primary input-md w-36' %>
      </div>

      <div class='ml-auto'>
        <%= form.submit "Create Pair Request", class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
<% end %>

