<%= form_with(model: pair_request) do |form| %>
  <% if pair_request.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(pair_request.errors.count, "error") %> prohibited this pair_request from being saved:</h2>

      <ul>
        <% pair_request.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :invitee_id, style: "display: block" %>
    <%= form.select :invitee_id, User.invitee_select_for(current_user) %>
  </div>

  <div>
    <%= form.label :when, style: "display: block" %>
    <%= form.datetime_field :when %>
  </div>

  <div>
    <%= form.label :duration, style: "display: block" %>
    <%= form.number_field :duration, in: 15..180, step: 15 %> minutes
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
