<%= turbo_frame_tag "new_request_form" do %>
  <%= form_with(model: pair_request, class: 'p-4 w-full mx-auto border-2 border-primary rounded-md flex flex-col w-min') do |form| %>
    <div id="form-container" class='flex flex-col space-y-4 xl:space-y-0 xl:max-w-full xl:inline-flex xl:justify-around xl:space-x-4 xl:flex-row object-contain' data-controller="pair-requests-form" data-controller="pair-requests-form">
      <div class="flex justify-between space-x-4 align-middle items-center ">
        <%= form.label :invitee_id, class: "label label-text" %>
        <%= form.select :invitee_id, 
                        User.invitee_select_for(current_user).map{|array| [ array[0], {'value' => array[1], 'data-email' => array[0], "data-id"=> array[1], "data-timezone" => array[2], "data-usertimezone" =>"#{current_user.time_zone}"}]}, #order is hardcoded here, not great
                        {prompt: "Select User"},
                        { class: 'select select-primary',
                          data: {action: "change->pair-requests-form#click"} } %>
        </div> 
      <div class="flex flex-col w-auto">
        <div class="flex basis-1/8 space-x-4 align-middle items-center w-max">
          <%= form.label :when, class: "label label-text pr-2.5" %>
          <p class="label label-text basis-1/2"><%= "(#{current_user.time_zone})" %></p>
          <%= form.datetime_field :when, required: true, data: {action: "input->pair-requests-form#date"}, class: " basis-1/2 input input-primary input-md w-max", data: {action: "input->pair-requests-form#date"} %>
        </div>

        <div class="flex space-x-4 align-middle items-center text-left">
          <p class="text-left basis-1/8 label label-text">Invitee</p>
          <p data-pair-requests-form-target="invitee_tz" class="basis-1/2 text-left whitespace-nowrap  label label-text"></p>
          <strong class="pl-4 basis-1/2 label-text" id="invitee" data-value="" data-pair-requests-form-target="invitee"></strong>
        </div>
      </div>

      <div class="flex justify-between space-x-4 align-middle items-center">
        <%= form.label :duration, 'Duration (minutes)', class: "label label-text"  %>
        <%= form.number_field :duration, value: 15, in: 15..180, step: 15, required: true, class: 'input input-primary input-md w-36' %>
      </div>

      <div class='ml-auto flex items-center'>
        <%= form.submit "Create Pair Request", class: 'btn btn-primary w' %>
      </div>
    </div>
  <% end %>
<% end %>

