<%= turbo_frame_tag "new_request_form" do %>
  <%= form_with(model: pair_request, class: 'p-4 w-full mx-auto border-2 border-primary rounded-md flex flex-col') do |form| %>
    <% if pair_request.errors.any? %>
      <div class="alert alert-error flex flex-col items-start my-4">
        <%= pluralize(pair_request.errors.count, "error") %> prohibited this pair   request from being saved:
        <ul>
          <% pair_request.errors.each do |error| %>
            <li class='font-bold'>
              <%= error.full_message %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div id="form-container" class='flex flex-col space-y-4 xl:space-y-0 xl:max-w-full xl:inline-flex xl:justify-around xl:space-x-8 xl:flex-row'>
      <div class="flex justify-between space-x-4 align-middle">
        <%= form.label :invitee_id, class: "label label-text" %>
        <%= form.select :invitee_id, 
                        User.invitee_select_for(current_user), 
                        {}, 
                        { class: 'select select-primary' } %>
      </div>

      <div class="flex justify-between space-x-4 align-middle">
        <%= form.label :when, class: "label label-text" %>
        <%= form.datetime_field :when %>
      </div>

      <div class="flex justify-between space-x-4 align-middle">
        <%= form.label :duration, 'Duration (minutes)', class: "label label-text"  %>
        <%= form.number_field :duration, in: 15..180, step: 15, class: 'input input-primary input-md w-36' %>
      </div>

      <div class='btn btn-primary ml-auto'>
        <%= form.submit %>
      </div>
    </div>
  <% end %>
<% end %>

