<div id="<%= dom_id pair_request %>">
  <p>
    <strong>Author:</strong>
    <%= pair_request.author.email %>
  </p>

  <p>
    <strong>Invitee: <%= pair_request.invitee.email %></strong>
  </p>

  <p>
    <strong>Status: <%= pair_request.status %></strong>
    <% if  AcceptancePolicy.new(current_user, pair_request).create? %>
      <%= button_to "Accept this request", pair_requests_acceptances_path(pair_request_id: pair_request), class: "btn btn-success" %>
    <% end %>

    <% if policy(pair_request).reject? %>
      <%= button_to "Reject this request", pair_requests_rejections_path(pair_request_id: pair_request), class: "btn btn-danger" %>
    <% end %>
  </p>

  <p>
    <strong>When:</strong>
    <%= pretty_datetime(pair_request.when) %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= pluralize(ActiveSupport::Duration.seconds(pair_request.duration).in_minutes.to_i, "minutes") %>
  </p>

</div>
