<div id="<%= dom_id pair_request %>">
  <p>
    <strong>Author:</strong>
    <%= pair_request.author.email %>
  </p>

  <p>
    <strong>Invitee: <%= pair_request.invitee.email %></strong>
  </p>

  <p>
    <strong>Status: <%= pair_request.status %></strong>
    <% if pair_request.invitee == current_user && pair_request.pending? %>
      <%= button_to "Accept this request", pair_request_acceptances_path(pair_request), class: "btn btn-success" %>
    <% end %>

    <% unless pair_request.rejected? %>
      <%= button_to "Reject this request", pair_request_acceptances_path(pair_request), method: :delete, data: { turbo_method: :delete }, class: "btn btn-danger" %>
    <% end %>
  </p>

  <p>
    <strong>When:</strong>
    <%= pretty_datetime(pair_request.when) %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= pluralize(ActiveSupport::Duration.seconds(pair_request.duration).in_minutes.to_i, "minutes") %>
  </p>

</div>
