<div class="table-row odd:bg-white even:bg-neutral-100 hover:bg-neutral-200 divide-x-2 divide-black">
  <%= render TableCellComponent.new(container_link: pair_request) do %>
    <% partner = pair_request.partner_for(current_user) %>
    <p><%= partner.first_name %></p>
    <p><%= partner.last_name %></p>
  <% end %>

  <%= render TableCellComponent.new(container_link: pair_request) do %>
    <%= format_request_date(pair_request) %>
  <% end %>

  <%= render TableCellComponent.new(container_link: pair_request) do %>
    <%= pair_request.status.capitalize %>
  <% end %>

  <%= render(TableCellComponent.new(class_names: 'hidden sm:table-cell')) do %>
    <%= render PairRequest::StatusButtonsComponent.new(pair_request:, current_user:, style: :link) %>
    <%= render Feedback::EditButtonComponent.new(
      feedback: pair_request.authored_feedback_for(current_user),
      current_user:,
      style: :link,
      class_names: "text-left flex flex-col flex-nowrap gap-y-0.5 items-start",
      data: { turbo_frame: "_top" }
    ) do %>
      <%= content_tag(:p, 'Edit') + content_tag(:p, 'Feedback') %>
    <% end %>
  <% end %>
</div>
