<%= turbo_stream.update 'new_request_form' do %>
  <%= render 'form', pair_request: @pair_request %>
<% end %>


<% if @new_pair_request %>
  <%= turbo_stream.prepend 'my-pair-requests' do %>
    <div class="table-row odd:bg-white even:bg-neutral-100 hover:bg-neutral-200 divide-x-2 divide-black">
        <%= render TableCellComponent.new(container_link: @new_pair_request) do %>
          <%= @new_pair_request.partner_for(current_user).email %>
        <% end %>

        <%= render TableCellComponent.new(container_link: @new_pair_request) do %>
          <%= format_request_date(@new_pair_request) %>
        <% end %>

        <%= render TableCellComponent.new(container_link: @new_pair_request) do %>
          <%= @new_pair_request.status.capitalize %>
        <% end %>

        <%= render(TableCellComponent.new) do %>
          <%= render PairRequest::StatusButtonsComponent.new(pair_request: @new_pair_request, current_user:) %>
          <%= render Feedback::EditButtonComponent.new(
            feedback: @new_pair_request.authored_feedback_for(current_user),
            current_user:
          ) %>
        <% end %>
      </div>
  <% end %>
  
<% end %>

