<h1 class="text-2xl font-bold mb-4 text-center">My Requests</h1>

<div class="p-4 justify-center ">
  <%= render 'form', pair_request: @pair_request %>
</div>
<%=  turbo_frame_tag "pair_requests" do %>
  <div class="p-2">
    <div class="tabs">
      <%= link_to 'Upcoming', pair_requests_path(filter: 'upcoming'), data: { turbo_action: 'advance' }, class:"tab tab-lifted #{'tab-active' if params[:filter] == 'upcoming' || params[:filter].nil? }" %>
      <%= link_to 'Past', pair_requests_path(filter: 'past'), data: { turbo_action: 'advance' }, class:"tab tab-lifted #{'tab-active' if params[:filter] == 'past'}"  %>
    </div>
    <div class="table w-full border-2 border-black text-md md:text-base">
      <div class="table-header-group">
        <div class="table-row font-bold bg-primary divide-x-2 divide-black text-white">
          <%= render TableCellComponent.new(class_names: 'table-cell text-center') do %>
            Partner
          <% end %>
          <%= render TableCellComponent.new(class_names: 'table-cell text-center') do %>
            When
          <% end %>
          <%= render TableCellComponent.new(class_names: 'table-cell text-center') do %>
            Status
          <% end %>
          <%= render TableCellComponent.new(class_names: 'hidden sm:table-cell text-center') do %>
            Actions
          <% end %>
        </div>
      </div>
      <div class="table-row-group" id='my-pair-requests'>
      <% @pair_requests.each do |pair_request| %>
        <%= render "table_row", pair_request: %>
      <% end %>
      </div>
    </div>

  </div>

<% end %>
