<%= link_to "New pair request", new_pair_request_path %>

<h1 class="text-2xl font-bold mb-4 text-center">My Requests</h1>

<div class="p-2">
  <div class="table w-full border-2 border-black text-md md:text-base">
    <div class="table-header-group">
      <div class="table-row font-bold bg-neutral-400 divide-x-2 divide-black">
        <%= render TableCellComponent.new(classes: 'table-cell text-center') do %>
          Partner
        <% end %>
        <%= render TableCellComponent.new(classes: 'table-cell text-center') do %>
          When
        <% end %>
        <%= render TableCellComponent.new(classes: 'table-cell text-center') do %>
          Status
        <% end %>
        <%= render TableCellComponent.new(classes: 'hidden sm:table-cell text-center') do %>
          Actions
        <% end %>
      </div>
    </div>
    <div class="table-row-group">
      <% @pair_requests.each do |pair_request| %>
        <div class="table-row odd:bg-white even:bg-neutral-100 hover:bg-neutral-200 divide-x-2 divide-black">

          <%= render TableCellComponent.new(container_link: pair_request) do %>
            <p>John</p><p>Doe</p>
          <% end %>

          <%= render TableCellComponent.new(container_link: pair_request) do %>
            <%= format_request_date(pair_request) %>
          <% end %>

          <%= render TableCellComponent.new(container_link: pair_request) do %>
            <%= pair_request.status.capitalize %>
          <% end %>

          <%= render(TableCellComponent.new(classes: 'hidden sm:table-cell')) do %>
            <%= render PairRequest::StatusButtonsComponent.new(pair_request:, current_user:) %>
            <%= render Feedback::EditButtonComponent.new(
              feedback: pair_request.authored_feedback_for(current_user),
              current_user:
            ) %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
