<%= render @pair_request %>

<div>
    <br>
      <h5>Feedback/rating</h5>
    <p>
      <strong>Author Overall Rating:</strong>
      <%= @pair_request.author_overall_rating %>
    </p> 
    <p>
      <strong>Acceptor Overall Rating:</strong>
      <%= @pair_request.acceptor_overall_rating %>
    </p> 

    <p>
      <strong>Author Partner Rating:</strong>
      <%= @pair_request.author_partner_rating %>
    </p> 
    <p>
      <strong>Acceptor Feedback for Partner:</strong>
      <%= @pair_request.acceptor_feedback_for_partner %>
    </p> 

      <p>
      <strong> Acceptor Partner Pating:</strong>
      <%= @pair_request.acceptor_partner_rating %>
    </p> 
    <p>
      <strong>Author Feedback for Partner:</strong>
      <%= @pair_request.author_feedback_for_partner %>
    </p> 
  </div>

<div>
  <%= link_to "Edit this pair request", edit_pair_request_path(@pair_request) %> |
  <%= link_to "Back to pair requests", pair_requests_path %>
  <%= button_to "Destroy this pair request", @pair_request, method: :delete %>  <br>
</div> 




<% if @pair_request.feedback_needed?(current_user) %>
  <% if @pair_request.acceptor == current_user  %>
    <%= render 'acceptor_feedback' %>
  <% elsif @pair_request.author == current_user%>
    <%= render 'author_feedback' %>
  <% end %>
<% end %>


