<nav class="navbar p-4 flex justify-between">
  <div>
    <%= link_to "Agency of Learning", root_path, class: "text-xl " %>
  </div>
  <div class="flex space-x-4">
    <%= link_to "Blog", root_path, class: "text-xl " %>
    <% if user_signed_in? %>
      <div class="dropdown dropdown-end flex ">
        <label tabindex="0" class="btn btn-ghost">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
        </label>
        <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52 text-black">
          <li>
            <%= link_to 'Standups', standup_meeting_groups_path %>
          </li>
          <li>
            <%= link_to 'My Account', edit_user_registration_path %>
          </li>
          <li>
            <%= link_to 'Pair Requests', pair_requests_path %>
          </li>
          <li>
            <%= link_to 'Feedback', feedbacks_path %>
          </li>
          <li>
            <%= link_to 'Logout', destroy_user_session_path %>
          </li>
        </ul>
      </div>
    <% else %>
      <%= link_to 'Login', new_user_session_path, class: "text-xl" %>
    <% end %>
  </div>
</nav>
