<nav class="navbar bg-base-100 p-4">
  <div class="navbar-start">
    <%= link_to "Agency of Learning", root_path, class: "text-xl" %>
  </div>
  <div class="navbar-end">
    <%# Desktop Nav %>
    <ul class="menu menu-horizontal px-1 hidden lg:flex space-x-2">
      <li>
        <%= link_to "Home", root_path, class: 'no-underline' %>
      </li>
      <% if user_signed_in? %>
        <li>
          <%= link_to 'My Account', edit_user_registration_url(current_user)  %>
        </li>
        <li>
          <%= link_to 'Pair Requests', pair_requests_path %>
        </li>
        <% if policy(:invitation).new? %>
          <li>
            <%= link_to 'Send Invite', new_user_invitation_path %>
          </li>
        <% end %>
        <li>
          <%= link_to 'Logout', destroy_user_session_path, data: { "turbo-method": :delete }, class: "btn btn-primary btn-outline" %>
        </li>
      <% else %>
        <li>
          <%= link_to 'Login', new_user_session_url, method: :get, data: { turbo: false }, class: "btn btn-primary text-white" %>
        </li>
      <% end %>
    </ul>

     <%# Mobile Nav %>
    <div class="dropdown dropdown-end flex lg:hidden">
      <label tabindex="0" class="btn btn-ghost">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
      </label>
      <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
        <li>
          <%= link_to "Home", root_path %>
        </li>
        <% if user_signed_in? %>
          <li>
            <%= link_to 'My Account', edit_user_registration_url(current_user) %>
          </li>
          <li>
            <%= link_to 'Pair Requests', pair_requests_path %>
          </li>
          <% if policy(:invitation).new? %>
            <li>
              <%= link_to 'Send Invite', new_user_invitation_path %>
            </li>
          <% end %>
          <li class="nav-item">
            <%= link_to 'Logout', destroy_user_session_path, data: { "turbo-method": :delete } %>
          </li>
        <% else %>
          <li>
            <%= link_to 'Login', new_user_session_url, method: :get, data: { turbo: false } %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
