<nav class="navbar bg-base-100 p-4 flex justify-between">
  <div>
    <%= link_to "Agency of Learning", root_path, class: "text-xl" %>
  </div>
  <div>
    <%# Desktop Nav %>
    <ul class="menu menu-horizontal px-1 hidden lg:flex space-x-2">
      <li>
        <%= link_to "Home", root_path %>
      </li>
      <li>
        <%= link_to 'Featured Blog', featured_blog_posts_path %>
      </li>
      <li>
        <%= link_to "FAQ", faq_path %>
      </li>

      <% if !user_signed_in? %>
        <li>
          <%= link_to 'Login', new_user_session_path, class: "btn btn-primary text-primary-content" %>
        </li>
      <% end %>

      <% if user_signed_in? && (current_user.member? || current_user.admin? || current_user.moderator?) %>
        <li>
          <%= link_to 'My Blog', blog_path(current_user.blog_slug) %>
        </li>
        <li>
          <%= link_to 'Agency Blog', blog_posts_path %>
        </li>
        <li>
          <%= link_to 'Pair Requests', pair_requests_path %>
        </li>
        <li>
          <%= link_to 'Feedback', feedbacks_path %>
        </li>
        <li>
          <%= link_to 'Standups', standup_meeting_groups_path %>
        </li>
        <% if policy(:invitation).new? %>
          <li>
            <%= link_to 'Invite New User', new_user_invitation_path %>
          </li>
        <% end %>
        <% if policy(:user_only).application_reviewer? %>
          <li>
            <%= link_to 'Applications', user_mentee_application_cohorts_path %>
          </li>
        <% end %>
      <% end %>

      <% if user_signed_in? %>
        <li>
          <%= link_to 'My Account', edit_user_registration_path %>
        </li>
        <li>
          <%= link_to 'Logout', destroy_user_session_path, class: "btn btn-primary text-primary-content" %>
        </li>
      <% end %>
    </ul>

     <%# Mobile Nav %>
    <div class="dropdown dropdown-end flex lg:hidden">
      <label tabindex="0" class="btn btn-ghost">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
      </label>
      <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
        <li>
          <%= link_to "Home", root_path %>
        </li>
        <li>
          <%= link_to 'Featured Blog', featured_blog_posts_path %>
        </li>
        <li>
          <%= link_to "FAQ", faq_path %>
        </li>
        <% if !user_signed_in? %>
          <li>
            <%= link_to 'Login', new_user_session_path %>
          </li>
        <% end %>
        <% if user_signed_in? && (current_user.member? || current_user.admin? || current_user.moderator?) %>
          <li>
            <%= link_to 'Standups', standup_meeting_groups_path %>
          </li>
          <li>
            <%= link_to 'My Blog', blog_path(current_user.blog_slug) %>
          </li>
          <li>
            <%= link_to 'Agency Blog', blog_posts_path %>
          </li>
          <li>
            <%= link_to 'Pair Requests', pair_requests_path %>
          </li>
          <li>
            <%= link_to 'Feedback', feedbacks_path %>
          </li>
          <% if policy(:invitation).new? %>
            <li>
              <%= link_to 'Invite New User', new_user_invitation_path %>
            </li>
          <% end %>
          <% if policy(:user_only).application_reviewer? %>
            <li>
              <%= link_to 'Applications', user_mentee_application_cohorts_path %>
            </li>
          <% end %>
        <% end %>
        <% if user_signed_in? %>
          <li>
            <%= link_to 'My Account', edit_user_registration_path %>
          </li>
          <li>
            <%= link_to 'Logout', destroy_user_session_path %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
